@charset "UTF-8";

    @media print {   /* CSS DA IMPRESSÃO */

        body{
            font-family: 'Courier New', Courier, monospace;
        }

        main h1{
            text-shadow: none;
            color: black;
        }

        main{
            width: 90vw;
            border: 2px solid black;
            margin-top: 30px;
        }

        main::after{
            content: 'Esta impressão foi feita pelo site cursoemvideo.com';
            text-decoration: overline;
        }

        img#phone { display: none;}
        img#print {display: block;}
        img#tv {display: none;}
        img#pc {display: none;}
        img#tablet {display: none;}

    }   


    @media screen and (min-width:768px) and (max-width:992px) { /* CSS TELAS  */
    
        body{
            background-image: url(../imagens/back-tablet.jpg);
        }

        img#phone { display: none;}
        img#print {display: none;}  
        img#tv {display: none;}
        img#pc {display: none;}
        img#tablet {display: block;}

    }

    @media screen and (min-width:992px) and (max-width:1200px) { /* CSS TELAS  */
    
        body{
            background-image: url(../imagens/back-pc.jpg);


        }
        
        img#phone { display: none;}
        img#print {display: none;}
        img#tv {display: none;}
        img#pc {display: block;}
        img#tablet {display: none;}
    
    }

    @media screen and (min-width:1200px) { /* CSS TELAS  */
    
        body{
            background-image: url(../imagens/back-tv.jpg);

        }

        main{
            width: 700px;

        }


        img#phone { display: none;}
        img#print {display: none;}
        img#tv {display: block;}
        img#pc {display: none;}
        img#tablet {display: none;}
    
    }


